/* google fonts fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Yeseva+One&display=swap');

/* common style var*/
/* body{
    font-family: 'Poppins', sans-serif;
    background-color: #fefefe;
} */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* :root{
    --orange-color: #FF8C00;

}    */
.orange-color{
    color: orange;
}
.crimson-color{
    color: #DC143C;
}
.white-color{
    color: white;
}
.container{
    display: flex;
    padding-bottom: 100px;
}

.divide-width{
    width: 50%;
    padding-left: 2%;
}

.focused-img img {
    width: 70%;
}
.focused-box{
    margin-left: 10%;
    margin-top: 5%;
}
h1{
    font-size: 50px;
}
.focused-2022{
    border-left: 5px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
    border-radius: 10px;
    padding-left: 2%;
}
.button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

.mission-item{
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
}
.mission-item img{
    width: 40%;
}
.mission{
    background-color: skyblue;
}
.vission{
    background-color: pink;
}
.goals{
    background-color: darkorange;
}
.set-mission{
    padding-left: 10%;
}
.m-text{
    text-align: center;
}

.develop{
    width: 40%;
}
.develop img{
    width: 65%; 
    margin-left: 25%;
    margin-top: 3%;
}
.develop-description{
    width: 50%;
    margin-right: 20%;
}

.Community{
    width: 45%;
    margin-left: 10%;
}
.Community-img{
    width: 45%;
}
.Community-img img{
    width: 60%;
    margin-left: 20%;
}

.corona-app-img{
    width: 50%;
}
.corona-app-img img{
    width: 50%;
    margin-left: 30%;
}
.corona-app-description{
    width: 30%;
    margin-top: 5%;
}
.corona-heading{
    text-align: center;
}
footer{
    text-align: center;
    background-color: #2F4F4F;
    padding: 1%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}